@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;900&display=swap');

body{
    margin: 0;
    background-color: #36393F;
    overflow-x: hidden;

}
p, h1{
    margin: 0%;
}
nav{
    background-color:  #36393F;
    height: 64px;
    width: 100vw;
    display: grid;
    place-items: center;
}
.inner-nav{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-icon{
    color: #F84857;
    font-size: 40px;
}
.nav-ul{
    margin: 0;
    display: flex;

}
.nav-li{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}
a{
 color: white;
 text-decoration: none;
}
.home-section{
    margin: 50px;

    width: 100VW;
    background-color:#36393F;
    display: flex;
}
.home-left{
    width: 50%;
    padding-left: 50px ;    
}
.home-right{
    height: 100%;
    width: 40%;
    padding-right: 10%;
    display: grid;
    place-items: center;
}
.social-item{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 2px solid #F84857;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin: 4px;
}
.social-item:hover{
    transform: scale(1.2);
}
.social-icon{
    font-size: 25px;
}
h1{
    margin: 0;
    color: white;

}
p{
    color: white;
    margin: 20px;
}
.social-ul{
    display: flex; 
    margin: 0;
    padding: 0;
    justify-content: center;

}
.social-li{
    list-style: none;
}
img{
    width: 400px;
}
.foot-pager{
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
    background-color: cadetblue;
}
.foot-li{
    list-style: none;
    display: inline-table;
    justify-content: center;
    align-items: center;
    margin: 10PX;
    padding: 0PX;
}
.foot-ul{
    display: flex; 
    margin: 0;
    padding: 0;
    justify-content: right
}
.nav-items{
    padding-left: 60%;
}


.my-portfolio{
    margin: 0;
    padding: 0;
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 50px;
    border: 2px solid #F84857;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36393F;

}
.button2{
    border-radius: 50px;
    height: 50px;
    width: 100px;
    border: none;
    background-color: #F84857;
    margin-left: 50px;


}
.buttons{
    height: 200px;
    display: flex;
  
}
.play{
    color: white;
    font-size: 20px;

}
.grids{
    display: grid;
    width: 60vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 50px 0;
    margin: auto;
    
   

}
.grid{
    height: 200px;
    width: 200px;
    padding: 20px;
    background-color: #23263A;
    font-size: 30px;
    color: #FF4A57  ;
}
.my-services{
    width: 20vw;
    margin: auto;
    text-align: center;
}
.my-services h1{
    color: white;
}
.my-services p{
    color: white;
}